{% extends "layout.html" %}
{% block dashboard %}
	
{% for field in form.errors %}{% for error in form.errors[field] %}<div class="alert alert-danger"><strong>Error:</strong> {{ error }}</div>{% endfor %}{% endfor %}

<div class="well"> 
	<form action="{{ url_for('postUpdate') }}" method=post>
	{{ form.hidden_tag() }}
	{{ form.update.label }}
	<div class="form-group">
		{{form.update(class="form-control input-sg")}}
	</div>
	<button class="btn btn-default" type="submit">Post</button></div>		
	</form>
	
	{% for get in instance %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<a href="{{ app.config['BASEURL']}}/profile/{{get.author}}">{{ get.author }}</a> posted on {{get.pub_dtime}} {% if get.author == user.username %} | <a href="{{ url_for('deletepost', id=get.id) }}">Delete</a>{% endif %} | <a href="{{ url_for('comments', id=get.id) }}">View comments</a>
		</div>

	<div class="panel-body">
    <p>{{ get.status }}</p>
		<form action="{{ url_for('postComment', id=get.id) }}" method=post>		
		<div class="input-group text-center">
		{{form.comment(class="form-control input-sg", placeholder="Write a comment")}}
		<span class="input-group-btn"><button class="btn btn-primary" type="submit">OK</button></span>
		</form>	
		</div>
	</div>
	</div>
	{% endfor %}
</div>
{% endblock %}