{% extends 'layout.html'%}

{% block dashboard %}


<div class="col-lg-12">
{% for message in get_flashed_messages() %}<div class="alert alert-success">{{ message }}</div>{% endfor %}

{% for get in instance %}

<ul class="list-group">
  <li class="list-group-item">Username: {{ get.username }}</li>
  <li class="list-group-item">Email: {{get.email}}</li>
  <li class="list-group-item">Name: {{get.name}}</li>
  <li class="list-group-item">Account created on: {{get.acc_created}}</li>
  <li class="list-group-item">Your profile link: {{ app.config['BASEURL']}}/profile/{{get.username}}</li>  
</ul>
{% endfor %}

</div>
	
{% endblock %}