{% extends 'layout.html'%}
{% block showprofile %}
</br>
<div class="row">
  <div class="col-md-2"><a href="#" data-toggle="modal" data-target=".bs-example-modal-sm"><img src="{{profile.dp}}" height="200px" width="200px" alt="Click for information" class="img-thumbnail"></a></div>
  <div class="col-md-6">
  <p>Homepage: {{profile.website}}</p>
  <p>Interests: {{profile.interests}}</p>
  <p>Contact: {{profile.contact}}</p>
  <p>Biography: {{profile.bio}}</p>	{% for get in instance %}
  {% if get.username == user.username %}<p><a href="{{app.config['BASEURL']}}/editprofile/{{get.username}}">Edit profile</a></p>{% endif %} 
  </div>
</div>

</br>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      
<ul class="list-group">
  <li class="list-group-item"><h4>Profile information</h4></li>
  <li class="list-group-item">Username: {{ get.username }}</li>
  <li class="list-group-item">Name: {{get.name}}</li>
  <li class="list-group-item">Account created on: {{get.acc_created}}</li>
  <li class="list-group-item">Profile link: {{ app.config['BASEURL']}}/profile/{{get.username}}</li> 
</ul>
    </div>
  </div>
</div>

<h4>Posts by {{get.username}}</h4>

{% for post in posts %}
<div class="panel panel-default">	
<div class="panel-heading"><a href="{{ app.config['BASEURL']}}/profile/{{post.author}}">{{ post.author }}</a> posted on {{post.pub_dtime}}  | <a href="{{ url_for('deletepost', id=post.id) }}">Delete</a> | <a href="{{ url_for('comments', id=get.id) }}">View comments</a></div>
  <div class="panel-body">
    {{ post.status }}
</div>
</div>
{% endfor %}
{% endfor %}
</div>
{% endblock %}