{% extends "layout.html" %}
{% block signup %}
{% for field in form.errors %}{% for error in form.errors[field] %}<div class="alert alert-danger"><strong>Error:</strong> {{ error }}</div>{% endfor %}{% endfor %}

<div class="row"><div class="col-xs-4"><h3>Signup for Snork</h3></br>

<form action="{{ url_for('signup') }}" method=post>
{{ form.hidden_tag() }}
{{form.username.label}}
{{form.username(class="form-control input-sg")}}</br>
{{form.password.label}}
{{form.password(class="form-control input-sg")}}</br>
{{form.email.label}}
{{form.email(class="form-control input-sg")}}</br>
{{form.name.label}}
{{form.name(class="form-control input-sg")}}</br>
{{form.recaptcha}}</br>
</div></div>

<button class="btn btn-default">Sign up!</button></div></div>
{% endblock %}